@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);


body{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #FFDAB9;
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}
p{
	font-family: Vivaldi;
	color: black;
	text-shadow:  1px  1px 10px black,
                  1px -1px 10px black,
                 -1px  1px 10px black,
                 -1px -1px 10px black;
}


.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #DC143C;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover{
    background-color: #800000;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}

.links {
float: left;
margin-top: 80px;
margin-right: 10px;
}
.head {
float:left;
font-size: 150px;
color: #f8f6f0;
}
#start {
text-align:center;
font-size: 80px;
color: #000000;

}

#leftknight{
float: left;
margin-top: -750px;
margin-right: 30px;
}

#rightknight{
float: right;
margin-top: -750px;
margin-left: 30px;
}

#s1{
float: left;
margin-top: -950px;
margin-right: 30px;}

#s2{
float: right;
margin-top: -950px;
margin-left: 30px;
}

#s3{
float:bottom;}

